---
import Footer from '../components/Footer.astro'

interface Props {
	title: string;
	description: string;
	showIbisHomeLink?: boolean;
}

const { title, description, showIbisHomeLink } = Astro.props;
// const canonicalURL = new URL(Astro.url.pathname, Astro.site)

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- <link rel="canonical" href={canonicalURL} /> -->

		<link
			rel="stylesheet"
			href="https://www.duncanritchie.co.uk/css/main.css"
		/>
		<link
			rel="stylesheet"
			href="https://www.duncanritchie.co.uk/css/no-js.css"
		/>
		<link
			rel="stylesheet"
			media="print"
			href="https://www.duncanritchie.co.uk/css/print.css"
		/>
		<link
			rel="stylesheet"
			href="https://www.duncanritchie.co.uk/css/subsites.css"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.duncanritchie.co.uk/subsites.css"
		/>
		<link
			rel="icon"
			href="https://www.duncanritchie.co.uk/favicon.ico"
			type="image/x-icon"
		/>
		<link
			rel="icon"
			href="https://www.duncanritchie.co.uk/favicon-96x96.png"
			type="image/png"
		/>
	</head>
	<body>
		<slot />
		<Footer showIbisHomeLink={showIbisHomeLink ?? true} />
	</body>
</html>
<style is:global>
	:root {
	}
</style>
